## .NET
bin/
obj/
*.user
*.suo
*.sln.docstates

## Visual Studio
.vs/
*.csproj.user
*.csproj.user.*
*.resx.user
Properties/Resources.Designer.cs

## NuGet
packages/
*.nupkg

## OS
Thumbs.db
.DS_Store

## IDE
*.swp
*.swo
_ReSharper*/
